<div class="contenedor">
  <form>
    <fieldset>
      <legend>FORMULARIO DE REGISTRO</legend>
      <div class="row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Favor de registrar su Email</label>
        <div class="col-sm-10">
          <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@ejemplo.com">
        </div>
      </div>
      <div>
        <label for="exampleInputEmail1" class="form-label mt-4">Dirección de Correo Electronico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Favor de introducir su Email">
        <small id="emailHelp" class="form-text text-muted">Su correo electronico es confidencial.</small>
      </div>
      <div>
        <label for="exampleInputPassword1" class="form-label mt-4">Contraseña</label>
        <input type="contraseña" class="form-control" id="exampleInputPassword1" placeholder="contraseña" autocomplete="off">
      </div>
      <div>
        <label for="exampleSelect1" class="form-label mt-4">Introduzca un aproximado de su edad</label>
        <select class="form-select" id="exampleSelect1">
          <option>10-15</option>
          <option>15-20</option>
          <option>20-30</option>
          <option>30-40</option>
          <option>+40</option>
        </select>
      </div>
      <div>
        <label for="exampleInputPassword1" class="form-label mt-4">Introduzca su dirección</label>
        <input type="dirección" class="form-control" id="exampleInputPassword1" placeholder="Direccion" >
      </div>
      <div>
        <label for="exampleSelect1" class="form-label mt-4">Calificación de cuestionario</label>
        <select class="form-select" id="exampleDisabledSelect1" enabled="">
          <option>1-2★</option>
          <option>3-4 ★</option>
          <option>5-6 ★</option>
          <option>7-8 ★</option>
          <option>9-10 ★</option>
        </select>
      </div>
      <div>
        <label for="ejemplo de comentarios" class="form-label mt-4">Comentarios</label>
        <textarea class="form-control" id="Comentarios" rows="3"></textarea>
      </div>
      <div>
        <label for="formFile" class="form-label mt-4">Introduzca Foto y Documentos</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <fieldset>
        <legend class="mt-4">Terminos y Condiciones</legend>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
          <label class="form-check-label" for="optionsRadios1">
            Acepta terminos y Condiciones
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          <label class="form-check-label" for="optionsRadios2">
            Rechazo terminos y condiciones
          </label>
        </div>
      </fieldset>
      <fieldset>
        <legend class="mt-4">Modos Visuales</legend>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Modo Claro
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
          <label class="form-check-label" for="flexCheckChecked">
            Modo Oscuro
          </label>
        </div>
      </fieldset>
    
<div class="d-grid gap-2">
  <button class="btn btn-lg btn-primary" type="button">siguiente</button>
</div>
